* {
  box-sizing: border-box;
}
.eventKM {
  background-color: rgb(250 250 250);
}
.evntKM a {
  text-decoration: none;
  color: inherit;
}

.tieuDeHeader div h2 {
  padding: 40px 0;
  color: #d82d8b;
  text-align: center;
  font: 40px Nunito, sans-serif;
}

.bocucspan {
  display: flex;
}

/* .bocucspan:after {
    content: "";
    display: table;
    clear: both;
  } */
 .eventKM .img{
  width: 100%;
 }
.eventKM img{
  max-width: 100%;
  width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
}
.eventKM img:hover {
  cursor: pointer;
}
.spandong1 {
  width: calc(100% / 4 30px);
  width: 25%;
  margin: 10px 15px;
  box-shadow: 4px 1px 5px -3px rgba(0, 0, 0, 0.78);
  -webkit-box-shadow: 4px 1px 5px -3px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: 4px 1px 5px -3px rgba(0, 0, 0, 0.78);
  border-radius: 10px;
  /* float: left;
    width: 25%;
    padding: 5px;
    height: 30px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
}

/* .bocucspan div div img{
    width: 219.17px;
    height: 105.26px;
    border-style: solid;
    border-radius: 5px;
    border: 2px solid whitesmoke;
} */

@media (max-width: 992px) {
  .spandong1 {
    width: 50%;
  }
}
@media (max--width: 576px) {
  .spandong1 {
    width: 100%;
  }
}
.spandong1_p {
  width: 100%;
  height: 105.26px;
  color: black;
  font-size: sans-serif;
  max-width: auto;
  border-radius: 5px;
  border: 2px solid whitesmoke;
  background-color: whitesmoke;
}

.spandong1_p p {
  padding: 12px 0px 8px;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 35px;
}

.bocucspan p:hover {
  color: #d82d8b;
}

/* css phan dialog */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 63%;
  height: 97%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 10px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close1 {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close3 {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close4 {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close4:hover,
.close4:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close5 {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close5:hover,
.close5:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close6 {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close6:hover,
.close6:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close7 {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close7:hover,
.close7:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close8 {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close8:hover,
.close8:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close9 {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close9:hover,
.close9:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close10 {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close10:hover,
.close10:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close11 {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close11:hover,
.close11:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  color: black;
  width: 100%;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #ccc;
}

.modal-header h3 {
  text-align: center;
  color: #262626;
  font: 16px sans-serif;
}

.modal-body {
  padding: 28px;
  overflow: hidden;
  overflow: scroll;
  overflow-x: hidden;
}

.modal-footer {
  padding: 2px 16px;
  color: black;
  text-align: center;
  width: 100%;
  height: 45%;
  border-top: 1px solid #ccc;
  border-radius: 0px 0px 10px 10px;
}

.center-img {
  display: block;
  margin: 0 0 15px 0;
}

.button-none {
  background-color: transparent;
  border: none;
  font-size: 15px;
  text-align: left;
}

.button-none:hover {
  color: #d82d8b;
}

.button-footer {
  margin-top: 15px;
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  color: white;
  background: #d82d8b;
  width: 125px;
  height: 37px;
}

p {
  font: 18px, "Nunito", sans-serif;
  line-height: 25px;
}

.p-dong1 {
  color: #828288;
  font: 18px "Nunito", sans-serif;
  margin: 25px 25px 18px 5px;
  float: left;
}

.div-dong2 {
  text-align: center;
}

.p-div-dong2 {
  color: #737377;
  margin: 0 0 4px;
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
}

.button-div-dong2 {
  color: #d82d8b;
  font-size: 18px;
  text-align: center;
  font-family: sans-serif;
  /* padding: 4px 40px 4px 20px; */
  background-color: #fff0f6;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 130px;
  height: 37px;
}

.p-dong3 {
  font: 16px "Nunito", sans-serif;
  margin: 0px, 0px, 16px;
  color: #000000d9;
  width: auto;
  height: auto;
}

.strong-dong4 {
  font: 16px "Nunito", sans-serif;
  color: #000000d9;
  font-weight: bold;
}

.p-dong5 {
  font: 18px "Nunito", sans-serif;
  color: #a50064;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

element.style {
  color: rgb(165, 0, 100);
  font: 18px;
}

.eventKM ul li {
  line-height: 30px;
}
