* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  padding: 0 8%;
}
.title {
  text-align: center;
  padding: 60px 0;
  margin: 40px 0;
}
.title h3 {
  font-weight: 700;
  font-size: 35px;
  color: #e9900c;
}
.title span {
  font-weight: 500;
  font-size: 25px;
  margin-top: 10px;
}
/* SLIDER FILM */

.image-slider {
  height: 590px;
  background: url(./img/theater.jpg) top center / cover no-repeat;
  position: relative;
  /* margin-top: 67px; */
  background: #000;
}

.image-slider__content {
  position: absolute;
  color: #fff;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
}

.image-slider__content .title {
  font-size: 3rem;
}

.image-item .image-title {
  color: #fff;
  font-size: 1.3rem;
  margin-top: 16px;
}

.image {
  /* width: 225px; */
  height: 301px;
  margin-bottom: 20px;
  /* margin-right: 0; */
  overflow: hidden;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: all 0.3s;
}
.image img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.list-image {
  padding-top: 10%;
}

.slick-initialized .slick-slide {
  margin: 0 10px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  background: #2cccff;
  padding: 10px 20px;
  border: none;
  outline: none;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.3);
  transition: all linear 0.2s;
}

.slick-arrow:hover {
  cursor: pointer;
  color: #fff;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-dots {
  position: absolute;
  margin-top: 20px;
  /* bottom: 5px; */
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  gap: 0 20px;
  top: 95%;
}

.slick-dots li {
  list-style-type: none;
}

.slick-dots button {
  font-size: 0;
  padding: 5px 5px;
  border-radius: 50%;
  border: none;
  outline: none;
  transition: all linear 0.2s;
  cursor: pointer;
}

.slick-dots .slick-active button {
  background: #2cccff;
}

.trailer-slider {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 450px;
  background: url(./img/theater2.jpg) top center / cover no-repeat;
  background-position: 50%;
  position: relative;
}

.image2 {
  height: 145px;
  overflow: hidden;
}

.image2 .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: all 0.3s;
}

.image2:hover .img,
.image2:focus .img {
  transform: scale(1.2);
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-container {
  position: relative;
  background: #fff;
  width: 1000px;
  height: 500px;
  max-width: calc(100% - 32px);
  min-height: 200px;
  animation: modalFadein ease 0.3s;
}

@keyframes modalFadein {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

.modal.open {
  display: flex;
}

/* THEATER */
.theater .content {
  border: 1px solid;
  border-radius: 8px;
  border-color: rgb(229 229 229);
  box-shadow: 0 2px 8px 0 rgb(20 16 11 / 7%);
}
.theater .content select {
  padding: 10px 30px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 5px;
}
.theater .bottom {
  display: flex;
}
.theater .item1 {
  padding: 20px;
  border-bottom: 1px solid;
  border-color: rgb(229 229 229);
  /* box-shadow: 0 2px 8px 0 rgb(20 16 11 / 7%); */
}
.theater__top {
  display: flex;
  text-align: center;
}
.theater__top div {
  margin-right: 20px;
}

.theater__bottom {
  display: flex;
  justify-content: flex-start;
}
.theater__bottom .col {
  width: calc(100% / 9);
  text-align: center;
  padding: 30px;
}
.theater__bottom .col .content {
  margin: 10px;
  margin-top: 20px;
  width: 100%;
}
.theater__bottom .col .content:hover {
  cursor: pointer;
}
.theater__bottom img {
  display: block;
  width: 100%;
}
.theater .bottom .item2 {
  width: 30%;
}
.theater .bottom .item2 .item__search {
  padding: 10px 20px;
}
.theater .bottom .item2 .search {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid;
  border-radius: 8px;
  border-color: rgb(229 229 229);
  box-shadow: 0 2px 8px 0 rgb(20 16 11 / 7%);
  background-color: rgb(250 250 250);
}
.theater .bottom .item2__bottom .row {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  border-bottom: 1px solid rgb(226, 226, 226);
}
.theater .bottom .item2__bottom .row:hover {
  cursor: pointer;
  background-color: rgb(250 250 250);
}
.theater .bottom .item2 .item2__bottom .col {
  width: 45px;
  height: 45px;
  margin-left: -10px;
  margin-right: 20px;
}
.theater .bottom .item2 .item2__bottom .row span {
  font-size: 14px;
}
.theater .bottom .item2 .item2__bottom .btn {
  margin-top: 20px;
}

.theater .item2__bottom .btn button {
  padding: 10px 20px;
  border-radius: 18px;
  border: 1px solid #dddde0;
  background-color: #e7e5e0;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}
.theater .item2__bottom .btn button:hover {
  cursor: pointer;
}
.theater .item2__bottom .col img {
  width: 100%;
  border: 1px solid rgb(229 229 229);
}

.theater .bottom .item3 {
  width: 70%;
  border-left: 1px solid;
  border-color: rgb(229 229 229);
  height: 600px;
  overflow: auto;
  position: relative;
}
/* .theater .bottom .item3 .item3__top{
  position: fixed;
} */

/* .theater .bottom .item3{
  position: relative;
}
.theater .bottom .item3 >.item3__top{
  position: fixed;
} */
.theater .item3__top .row__top {
  display: flex;
  background-color: rgb(250 250 250);
  padding: 15px 20px 10px 20px;
  border-bottom: 1px solid;
  border-color: rgb(229 229 229);
}
.theater .item3__top .row__top .item3__content {
  padding-left: 30px;
}
.theater .item3__top .logo {
  width: 8%;
}
.theater .item3__top .logo:hover {
  cursor: pointer;
}
.theater .item3__top .logo img {
  width: 100%;
  border: 1px solid rgb(220 219 219);
}
.theater .item3__top .item3__content .title {
  font-weight: 600;
}
.theater .item3__top .item3__content .title:hover {
  cursor: pointer;
  color: #e9900c;
}
.theater .item3__top .item3__content .map {
  color: rgb(99, 99, 226);
}
.theater .item3__top .item3__content .map:hover {
  cursor: pointer;
}
.theater .item3__top .row__bottom {
  border: 1px solid;
  border-color: rgb(229 229 229);
  display: flex;
  justify-content: space-around;
  padding: 15px 30px;
}
.theater .item3__top .row__bottom .calender {
  display: inline-block;
  width: 75px;
  height: 75px;
  border: 1px solid;
  border-color: rgb(169, 169, 169);
  border-radius: 5px;
  align-items: center;
  text-align: center;
}
.theater .item3__top .row__bottom .calender:hover {
  cursor: pointer;
  border-color: rgb(116, 112, 112);
}
.theater .item3__top .row__bottom .calender1 {
  border-color: #d37318;
}
.theater .item3__top .row__bottom .calender__top {
  background-color: rgb(220 219 219);
  padding: 10px 0;
  font-size: 20px;
  text-align: center;
}
.theater .item3__top .row__bottom .calender__top1 {
  background-color: #e9900c;
}
.theater .item3__top .row__bottom .calender__bottom {
  margin: 5px 0;
  font-size: 14px;
}
.theater .item3__bottom .item__right {
  padding-top: 20px;
  padding-left: 30px;
}
.theater .item3__bottom .item3__content {
  display: flex;
  border-bottom: 1px solid;
  border-color: rgb(229 229 229);
  padding-bottom: 20px;
}

.theater .item3__content .item__left {
  width: 18%;
  height: 100%;
  margin: 15px;
  overflow: hidden;
}

.theater .item3__content img {
  display: block;
  transition: all 0.5s;
  width: 100%;
}
.theater .item3__content img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.theater .item3__bottom .item__right {
  width: 80%;
}
.theater .item3__bottom .item__right .do_tuoi {
  background-color: #9b2020;
  padding: 5px 10px;
  display: inline-block;
  font-weight: 200;
  color: white;
}
.theater .item3__bottom .item__right h3 {
  margin-top: 8px;
}
.theater .item3__bottom .item__right h3:hover {
  cursor: pointer;
}
.theater .item3__bottom .item__right p {
  margin-top: 2px;
}
.theater .item3__bottom .item__right .sub {
  margin: 15px 0 10px 0;
}
.theater .gio_chieu button {
  background-color: white;
  border: 1px solid;
  padding: 8px 14px;
  border-color: #1162c9;
  color: #2439cc;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  margin-right: 10px;
  margin-bottom: 15px;
}
.theater .gio_chieu button:hover {
  cursor: pointer;
  color: #212b77;
  background-color: rgb(231, 164, 18);
}
.theater .btn {
  text-align: center;
}
.btn_theater {
  margin-top: 50px;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #e9900c;
  border: 1px solid;
  color: white;
  font-size: 20px;
  font-weight: 700;
}
.btn_theater:hover {
  cursor: pointer;
}
.theaterSystem {
  background-color: rgb(250 250 250);
}

.theaterSystem .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.theaterSystem .content .item {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 45%;
  margin: 20px 0;
  padding: 10px 0;
  border: 1px solid rgb(232, 227, 227);
}
.theaterSystem .content .item:hover {
  box-shadow: 0 2px 8px 0 rgb(20 16 11 / 7%);
  cursor: pointer;
}
.theaterSystem .item__left {
  width: 22%;
  padding: 20px;
}
.theaterSystem .item__left img {
  display: block;
  width: 100%;
}
.theaterSystem .item__right {
  padding: 20px 0 0 20px;
  line-height: 26px;
  font-size: 15px;
  color: rgb(169, 169, 169);
}
.theaterSystem .item__right h4 {
  color: #e9900c;
  font-size: 20px;
}
.theaterSystem .item__right span {
  font-size: 13px;
}
.theaterSystem .item__right .icon i {
  color: #fcd34d;
}
.backTop {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(14, 13, 13);
  position: fixed;
  bottom: 40px;
  right: 20px;
}
.backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* BLOG PHIM */
.blogPhim {
  margin: 80px 0;
}
.blogPhim__title {
  text-align: center;
  margin-bottom: 40px;
  color: rgb(212, 139, 139);
}
.blogPhim__title h3 {
  font-size: 30px;
}
.blogPhim__title p {
  font-size: 20px;
}
.blogPhim .row {
  display: flex;
  flex-wrap: wrap;
}
.blogPhim .row .col {
  width: 25%;
}
.blogPhim .row .col .item {
  padding: 0 20px;
  margin-bottom: 20px;
}
.blogPhim .row .col .item:hover {
  cursor: pointer;
}
.blogPhim .row .col .itemTop {
  border-radius: 5px;
}
.blogPhim .row .col .item img {
  width: 100%;
  display: block;
}
.blogPhim .itemBot h3 {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}
.blogPhim .row .col .item:hover h3 {
  color: #df7009;
}
.blogPhim .itemBot p {
  font-size: 13px;
  font-weight: 300;
  margin-top: 5px;
}
/* responsive  */
/* tablet */
@media (max-width: 992px) {
  .title h3 {
    font-size: 25px;
  }
  .theater .item1 {
    display: none;
  }
  .theater .bottom .item2 {
    display: none;
  }
  .theater .bottom .item3 {
    width: 100%;
  }
  .theaterSystem .content .item {
    width: 100%;
  }
  .blogPhim .row .col {
    width: 50%;
  }
}
/* mobie */
@media (max-width: 576px) {
  .theater .title {
    margin-top: 100px;
  }
  .title h3 {
    font-size: 20px;
  }
  .theater .item1 {
    display: none;
  }
  .theater .bottom .item2 {
    display: none;
  }
  .theater .bottom .item3 {
    width: 100%;
  }
  .theaterSystem .content .item {
    width: 100%;
  }
  .blogPhim .row .col {
    width: 100%;
  }
  .theater .item3__top .logo {
    width: 15%;
  }
  .theater .item3__top .item3__content {
    width: 85%;
  }
}
.carousel {
  height: 500px;
  background-color: rgb(226, 207, 215);
}
.carousel .row{
  display: flex;
}
.carousel .left{
  width: 50%;
  padding-top: 110px;
}
.carousel .left h3{
  font-size: 43px;
  font-weight: 700;
  color: #cc358d;
  margin-bottom: 10px;
}
.carousel .left ul{
  line-height: 40px;
}
.carousel .left ul li {
  font-size: 18px;
}
.carousel .right{
  width: 50%;
}
.carousel .right .img{
  width: 100%;
}
.carousel .right .img img{
  width: 100%;
  display: block;
}

.carousel .btn button{
  margin-top: 20px;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  background-color: purple;
  border: 1px solid #9c4b76;
  border-radius: 10px;
}
.carousel .btn button:hover{
  cursor: pointer;
  background-color: #cc358d;
}
.carousel p {
  font-size: 30px;
  color: #ff1493;
  margin-top: 400px;
  margin-bottom: 30px;
  margin-right: 25px;
}
.carousel li {
  font-size: 30px;
  display: block;
  color: #ff1493;
}

.carousel img {
  margin-top: 100px;
  margin-right: 50px;
}

.carousel h1 {
  margin-top: 150px;
}
.carousel tr {
  color: #ff1493;
}
.carousel mt-7 {
  margin-top: 1.75rem;
}
.carousel text-center {
  text-align: center;
}

.carousel a {
  color: white;
  background-color: #ff1493;
  border: none;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
}
.question{
  height: 400px;
  background-color: #fff;
}
.question .row{
  display: flex;
  padding-top: 80px;
}
.question .row .col__left{
  width: 40%;
}
.question .row .col__left h3{
  font-size: 35px;
  font-weight: 600;
  color: #cc358d;
  margin-bottom: 20px;
}
.question .row .col__left p{
  font-size: 16px;
  font-weight: 300;
  padding-right: 40px;
}
.question .row .col__left span{
  color: #c73a7c;
  text-decoration: underline;
}
.question .row .col__left span:hover{
  cursor: pointer;
  color: #000;
}
.question .row .col__right{
  width: 60% ;
  padding-left: 40px;
}
.question .row .col__right p{
  line-height: 50px;
  border-bottom: 1px solid rgb(66, 63, 63);
}
.question .row .col__right p:hover{
  cursor: pointer;
  color: #cc358d;
}